body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;s */
}

.heading-container h1 {
  text-align: center;
  text-wrap: wrap;
  font-size: 22px;
  color: #ffffff;
  /* color: #cccccc; */
  /* background-color: #2b2b2b; */
}

h2 {
  text-align: center;
  text-wrap: wrap;
  font-size: 19px;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 15px;
  /* margin-top: px; */
}

.card {
  flex: 1;
  width: 400px;
  /* height: 370px; */
  border-radius: 15px;
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  /* color: #d9d9d9; */
}

.image-upload {
  border-radius: 10px;
  position: relative;
  /* height: 290px; */
  height: 214px;
  border: 4px dashed #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.image-upload img {
  max-width: 93%;
  max-height: 93%;
  align-self: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  font-size: 16px;
  color: #cccccc;
}

.button-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.button-container input {
  width: 22%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  margin-right: 12px;
  /* color: #ffffff; */
}

.predict-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.predict-button-disabled {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  cursor: not-allowed;
  margin-right: 10px;
}

.predict-button:hover {
  background-color: #0056b3;
}

.history-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.history-button:hover {
  background-color: #0056b3;
}

.result-container {
  /* display: none; */
  width: 97%;
  height: 91px;
  margin: auto;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  padding: 2px;
  margin-bottom: 25px;
  background-color: #2b2b2b;
  color: #cccccc;
  transition: opacity 0.5s ease-in-out;
}

.result-container.active {
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    font-size: 14px;
  }
}

/* //////////////////////////////// */

/* Auth Page Styles */
.auth-container {
  /* margin-top: 25px; */
  /* margin: auto; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.auth-container h1 {
  text-align: center;
  text-wrap: wrap;
  font-size: 22px;
  color: #ffffff;
}

.auth-form {
  /* width: 350px; */
  /* padding: 20px; */
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 25px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.auth-form label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.auth-form input {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  /* color: #ffffff; */
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}

/* Table container */
.history-table-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-table-container h1 {
  text-align: center;
  text-wrap: wrap;
  font-size: 22px;
  color: #ffffff;
}

.history-table {
  width: 80%;
  border-collapse: collapse;
  background-color: #2b2b2b;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-table th,
.history-table td {
  padding: 15px;
  text-align: center;

  border-bottom: 1px solid #444444;
}

.history-table th {
  background-color: #444444;
  font-weight: bold;
}

.history-table tr:nth-child(even) {
  background-color: #333333;
}

.history-table tr:hover {
  background-color: #555555;
}

.history-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;

  /* background-color: #6599d1; */
}


.history-button {
  width: 10%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}