/* AnemiaPrediction.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f9f9f9; */
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 100vh;
  }
  
  h1 {
    text-align: center; /* Center align all headings */
    text-wrap: wrap;
    font-size: 25px;
    color: #ffffff;
  }
  
  h2 {
    text-align: center; /* Center align all headings */
    text-wrap: wrap;
    font-size: 20px;
    color: #ffffff;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Add gap between cards */
    padding: 15px;
    margin-top: 30px;
  }
  
  .card {
    flex: 1; /* Each card takes equal space */
    width: 400px;
    height: 370px;
    /* width: 1000px; Limit card width */
    border-radius: 15px;
    background-color: #2b2b2b;
    /* background-color: #3c5b6f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    font-size: 16px; /* Default font size */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Lift the card on hover */
  }
  
  .card-title {
    font-size: 17px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #d9d9d9;
    /* color: #ffffff; */
  }
  
  .image-upload {
    border-radius: 10px;
    position: relative;
    height: 290px; /* Set a fixed height for image upload container */
    border: 4px dashed #444444;
    /* border: 2px dashed #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload img {
    max-width: 93%;
    max-height: 93%;
    align-self: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: #3c5b6f; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-text {
    font-size: 16px;
    color: #cccccc; /* Light gray text color */
  }
  
  .button-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .predict-button {
    padding: 10px 20px;
    /* background-color: #28a745;  */
    background-color: #007bff;
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  .predict-button-disabled {
    padding: 10px 20px;
    /* background-color: #28a745; */
    background-color: #007bff;
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    cursor: not-allowed;
  }
  
  .predict-button:hover {
    background-color: #218838; /* Darker blue on hover */
  }
  
  .result-container {
    display: none;
    width: 97%;
    margin: auto;
    align-self: center;
    text-align: center;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    background-color: #2b2b2b;
    color: #cccccc;
    transition: opacity 0.5s ease-in-out;
  }
  
  .result-container.active {
    display: block;
    opacity: 1;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Change to column layout on smaller screens */
      align-items: center; /* Center align items */
    }
    .card {
      /* max-width: calc(100% - 20px);  */
      width: 80%;
      font-size: 14px; /* Reduce font size on smaller screens */
    }
  }
  